[Unit]
Description=Home Temperature Tracker
After=bluetooth.target
Wants=bluetooth.target
StartLimitIntervalSec=400
StartLimitBurst=20
PartOf=bluetooth.target

[Service]
Type=simple
Restart=always
RestartSec=90
User=cantor-set
ExecStart=/path/to/home_temp_reader/start.sh


[Install]
WantedBy=multi-user.target